<footer class="footer">
  <div class="container">
    <small>
      WDX
    </small>
    <nav>
      <ul>
        <li><%= link_to "Design",   design_path %></li>
        <li><%= link_to "Visual",   visual_path %></li>
        <li><%= link_to "Photography",   photography_path %></li>
        <li><%= link_to "Audio",   audio_path %></li>
        <li><%= link_to "Equipo Equipment",   equipment_path %></li>
      </ul>
    </nav>
  </div>
</footer>
